/* Mobile Response */
@media (max-width: 768px) {

    /* INDEX PAGE */
    .navbar {
        flex-direction: row; 
        justify-content: space-between;
        margin: 5px;
        padding: 0.25rem;
    }

    .navbar-text {
        font-size: 14px;
        text-align: center;
    }

    .logo {
        height: 50px;
    }

    .hero-section {
        height: 100vh;
        width: 100%;
        padding: 15px;
        font-size: 1.5rem; 
    }

    .transparent-box {
        width: 90%; 
        height: 60%;
        padding: 20px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.5);;

    }

    .logreg-box .form-box{
        border-radius: 20px;
    }

    .container .content {
        display: none;
    }

    .container .logreg-box {
        width: 100%;
    }

    .form-box {
        width: 100%;
        padding: 20px; 
        background: rgba(255, 255, 255, 0.8); 
    }

    .form-box h2 {
        font-size: 28px; 
    }

    .input-box input {
        font-size: 14px;
    }

    .btn {
        height: 45px;
        font-size: 16px;
    }

    /* REGISTER PAGE */

    .form-container {
        width: 90%; 
        height: 1100px;
        padding: 20px;
        border-radius: 20px;
    }
    
}

@media (max-width: 480px) {
    .navbar {
        margin: 5px; 
        padding: 0.1rem; 
    }

    .navbar-text {
        font-size: 12px; 
        line-height: 1.2; 
    }

    .logo {
        height: 35px; 
    }

    .hero-section {
        height: 70vh; 
        padding: 5px; 
    }

    .transparent-box {
        width: 90%; 
        padding: 15px;
    }

    .form-box {
        background: rgba(255, 255, 255, 0.8); 
        width: 100%;
        padding: 20px;
    }

    .form-box h2 {
        font-size: 20px; 
    }

    .input-box input {
        font-size: 12px; 
    }

    .btn {
        font-size: 14px; 
    }
}