body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6fcdda, #ffffff); 
    animation: gradient 5s infinite alternate;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.navbar {
    background-color: rgba(255, 255, 255, 0.8); 
    height: auto;
    margin: 20px;
    display: flex;
    border-radius: 16px;
    padding: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.9s ease;
}

/* Navbar Text Styling */
.navbar-text {
    font-weight: bold;
    font-size: 24px;
    color: #004d40; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

/* Logo */
.navbar-brand .logo {
    height: 50px;
    animation: fadeIn 1.5s ease-in-out;
} 

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }

  .container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }

  .container p {
    font-size: 14px;
    margin-bottom: 15px;
    color: #666;
  }

  .input-field {
    position: relative;
    margin-bottom: 20px;
  }

  .input-field input {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  .input-field input:focus {
    border-color: #66a6ff;
    box-shadow: 0 0 5px rgba(102, 166, 255, 0.5);
  }

  .input-field span {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
  }

  .btn {
    background: #4542ff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
  }

  .btn:hover {
    background: #89f7fe;
    transform: translateY(-2px);
  }

  .btn:active {
    transform: translateY(0);
  }

  .footer {
    margin-top: 15px;
    font-size: 12px;
    color: #999;
  }

  .footer a {
    color: #66a6ff;
    text-decoration: none;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .userDetails{
    text-align: left;
    margin-left: 30px;
    margin-bottom: 60px;
    margin-top: 50px;
  }

  .userDetails p {
    margin-bottom: 10px; /* Adjust as needed */
    line-height: 1; /* Increases space between lines */
}