.no-scroll {
    overflow: hidden;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #6fcdda, #ffffff); 
    color: #333;
    min-height: 100vh;
}


/*Title Bar*/

.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    height: auto;
    margin: 20px;
    display: flex;
    border-radius: 16px;
    padding: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: top 0.9s ease;
}

.navbar-brand {
    font-weight: 500;
    font-size: 24px;
    transition: 0.3s color;
    text-transform: uppercase;
    gap: 10px;
}

.navbar-text {
    font-weight: bold;
    font-size: 24px;
    font-style: bold;
    text-transform: uppercase;
    color: #009970;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



.hero-section {
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: white; 
}

.logo {
    height: 60px; 
    width: auto; 
    margin-right: 10px;
}

/*welcome*/

.transparent-box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 40px;
    background: rgba(255, 255, 255, 0.5); 
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #333;
    backdrop-filter: blur(20px); 
    height: 65%;
}

.container .content {
    width: 50%;
    color: #333; 
    padding: 20px;
}

.text-sci h2{
    font-size: 40px;
    line-height: 1;
}

.text-sci h2 span{
    font-size: 25px;
}

.text-sci p{
    font-size: 16px;
    margin: 20px 0;
}

.social-icons a i {
    font-size: 22px;
    color: #2c2727;
    margin-right: 10px;
    transition: .5s ease, color 0.5s ease;
}

.social-icons a:hover i {
    transform: scale(2,2);
}

.container .logreg-box{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
}

.logreg-box .form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #1a1616;
}

.form-box h2{
    font-size: 32px;
    text-align: center;
}

.form-box .input-box{
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #2b2626;
    margin: 30px 0;
    font-weight: 700;
    
}

.input-box input{
    width: 100%;
    height: 100%;
    background:blue;
    border: none;
    outline: none;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    padding-right: 28px;
    padding-left: 10px;
}

.form-box input {
    outline: none; 
    border: none; 
}

#username, #password{
    background: transparent;
    border: none;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 700;
    pointer-events: none;
    margin-bottom: -20px;
    display: flex;
}

.input-box label span {
    transition: transform 0.3s ease;
}

.input-box input:focus~label span,
.input-box input:valid~label span{
    transform: translateY(-15px);
}

.input-box input:focus ~ label span:nth-child(1) { transition-delay: 0ms; }
.input-box input:focus ~ label span:nth-child(2) { transition-delay: 50ms; }
.input-box input:focus ~ label span:nth-child(3) { transition-delay: 100ms; }
.input-box input:focus ~ label span:nth-child(4) { transition-delay: 150ms; }
.input-box input:focus ~ label span:nth-child(5) { transition-delay: 200ms; }
.input-box input:focus ~ label span:nth-child(6) { transition-delay: 250ms; }
.input-box input:focus ~ label span:nth-child(7) { transition-delay: 300ms; }
.input-box input:focus ~ label span:nth-child(8) { transition-delay: 350ms; }

.input-box input:valid ~ label span {
    transform: translateY(-15px);
}

.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #009970;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.form-box .login-register{
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.login-register p a {
    color: #eb2424;
    font-weight: 600;
    text-decoration: underline;
}

.username{
    border: transparent;
}
.login-register p a:hover {
    text-decoration: underline;
}

/* Sign up */ 
.button {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: linear-gradient(45deg, #ff6a00, #ee0979, #ff6a00, #ee0979); 
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-position 0.8s ease, color 0.3s ease;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000; 
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform 0.3s ease-in-out;
  }
  
  .button:hover {
    background-position: 100% 0; 
    color: #fff;
  }
  
  .button:hover::before {
    transform: scaleX(1); 
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
 

/* REGISTER PAGE */

.form-container {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%; /* Adjust as needed */
    padding: 40px;
    background: rgba(255, 255, 255, 0.6); /* White transparent background */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    align-items: flex-start;
    color: #333;
    backdrop-filter: blur(20px);
    height: 1010px;
    margin-top: 10px;
}

/* Rest of your form styling */
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #3b3838;
    background: transparent;
    outline: none;
}

.input-box label {
    position: absolute;
    top: 0px;
    left: 10px;
    pointer-events: none;
    transition: 0.5s;
}

.button-container {
    display: flex;            
    justify-content: space-between; 
    gap: 10px;                 
    width: 100%;                
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.btnExit {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: none;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.btnReset {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: none;
    background-color: #0c4d17;
    color: white;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.login-register {
    text-align: center;
    margin-top: 15px;
}

.login-register a {
    color: #007bff;
    text-decoration: none;
}

.login-register a:hover {
    text-decoration: underline;
}

.form-label{
    
    font-size: 20px;
    font-weight: bold;
    pointer-events: none;
    transition: .5s ease;
    margin-bottom: 10px;
    margin-left: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: none;
    box-sizing: border-box;
    height: 40px;
}

.msform input[type="text"]:focus,
.msform input[type="tel"]:focus,
.msform input[type="email"]:focus,
.msform input[type="date"]:focus,
.msform input[type="tel"]:focus,
.msform input[type="password"]:focus{
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
    outline: none; 
}

select.form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: none;
    box-sizing: border-box;
    background-color: white; /* Dropdown background */
    color: #333; /* Text color */
    font-size: 14px; /* Font size */
    
}

/* Focus effect similar to other input fields */
select.form-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.tracking-in-contract {
	animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  

  
